﻿@model PagedList.IPagedList<Films.Models.FilmsModels>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Фильмы";
}

<p>
    @Html.ActionLink("Добавить фильм", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.Poster" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @if (ViewBag.User == item.Author)
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id });
                @Html.Raw("|");
                @Html.ActionLink("Посмотреть", "Details", new { id = item.Id });
                @Html.Raw("|");
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id });
            }
            
            @if (ViewBag.User != item.Author)
            {
                @Html.ActionLink("Посмотреть", "Details", new { id = item.Id });
            }
        </td>
    </tr>
}

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))